<h1>
  <%= @trip.name %>
</h1>

<h2>
  Total Length: <%= @trip.total_trail_length %> miles.
</h2>

<h2>
  Average Distance: <%= @trip.average_trail_length %> miles.
</h2>

<h2>
  Longest Trail Distance: <%= @trip.longest_trail.length %> miles.
</h2>
<ul>
  <h4>
    <% @trails.each do |trail| %>
      <li>
        <%= trail.name %>
        <%= trail.address %>
        <%= trail.length %>
      </li>
    <% end %>
  </h4>
</ul>